.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.headerLogo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    padding: 20px;
}

.headerSearch {
    margin: auto;
}

.headerSearch input {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.headerNavbar {
    padding: 20px;
    gap: 10px;
}

.headerNavbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}

.randomQuizz {
    background: linear-gradient(to bottom, #AF649E, #F67280, #F1948B, #E0F2F7);
    width: 100%;
    padding: 20px; 
    text-align: center;
    color: white; 
  }
.randomQuizz p {
    font-size: 30px;
    font-weight: bold;
}
.randomQuizz button {
    background: radial-gradient(circle, #F1948B, #CC527A, #A9A7A7);
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.quizzSection p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.quizSectionFilter button {
    border-radius: 10px;
    padding: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 5px;
    text-align: center;
}