.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
}

.headerLogo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    padding: 20px;
}
.ProductManager h2 {
    margin-bottom: 40px;
}


.headerNavbar {
    padding: 20px;
    gap: 10px;
}

.headerNavbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}

.containerProductManager {
    padding: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.ProductManager button#addProduct {
    background-color: blue;
    border: none;
    color: white;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
}

.ProductManager button#addProduct:hover {
    background-color: #0056b3;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 5px;
    text-align: center;
}

#tableProduct {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tableProduct th, #tableProduct td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tableProduct th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

#tableProduct tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tableProduct tr:hover {
    background-color: #f1f1f1;
}

#tableProduct td:nth-child(1),
#tableProduct th:nth-child(1),
#tableProduct td:nth-child(6),
#tableProduct th:nth-child(6) {
    text-align: center;
    width: 200px;
}

button.edit, button.delete {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 60px;
    font-weight: bold;
}

button.edit {
    background-color: #ffcc00;
    color: black;
}

button.delete {
    background-color: #ff0000;
    color: white;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
#categoriesList {
    width: 100%;
    padding: 10px 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    font-size: 16px;
    color: #333; 
    transition: border-color 0.3s ease; 
}
.funtion-bar {
    display: flex;
    justify-content: space-between;
}
.funtion-bar input {
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}
.funtion-bar select {
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}
